.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.6);
    padding-top: 30px;
    width: 100%;
    position: relative;
    height: calc(100vh - 30px);
    p {
        color: rgba(23, 117, 200, 0.988);
        font-family: "Source Code Pro";
        font-size: 16px;
    }
    h1 {
        font: {
            family: "Source Code Pro", monospace;
            size: 45px;
        }
        text-align: center;
        letter-spacing: 2px;
        color: rgb(19, 55, 120);
        padding-top: 30px;
        margin-top: -15px;
        box-sizing: content-box;
    }
    .img {
        height: 200px;
        width: 300px;
        position: absolute;
        top: 0;
        margin-right: 30px;
        right: 0;
        overflow: hidden;
        background-size: contain;
    }
    .rightImg {
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-size: contain;
        .right {
            margin-right: -70px;
            margin-bottom: -10px;
        }
    }
    .leftImg {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background-size: contain;
        width: 45%;
        .left {
            margin: {
                left: -100px;
                bottom: -10px;
            }
        }
    }
    img {
        height: 400px;
        width: 600px;
    }
    .reviews {
        padding: 30px 20px 0px 20px;
        margin-top: 50px;
        box-sizing: content-box;
        background-color: rgba(81, 177, 245, 0.127);
        border-radius: 20px;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25%;
        height: 55%;
        .title {
            height: 45%;
            width: 100%;
            padding-top: 15px;
            box-sizing: content-box;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: rgba(11, 63, 183, 0.744);
            font-size: 14px;
            font-family: "Source Code Pro", monospace;
        }
        .image {
            height: 50%;
            width: 40%;
            object-fit: cover;
            display: block;
            border-radius: 50%;
            border: 3px solid rgba(71, 132, 186, 0.679);
            box-shadow: 0 0 7px rgb(110, 121, 164);
        }
        .authors {
            height: 10%;
            width: 100%;
            padding-bottom: 10px;
            box-sizing: content-box;
        }
        .buttons {
            height: 10%;
            width: calc(100% + 40px);
            display: flex;
            flex-direction: row;
            .button {
                width: 50%;
                height: 100%;
                background-color: rgba(240, 255, 255, 0);
                border-color: rgba(240, 248, 255, 0);
                color: rgba(36, 82, 180, 0.938);
                font-size: 20px;
                transition: 0.5s;
                &:hover {
                    background-color: rgba(163, 197, 225, 0.222);
                }
            }
        }
    }
    .buttonRand {
        margin-top: 50px;
        padding: 10px;
        border-radius: 50%;
        background-color: rgba(240, 255, 255, 0);
        border-color: rgba(56, 117, 170, 0.415);
        color: rgba(36, 82, 180, 0.938);
        font-size: 20px;
        transition: 1s;
        &:hover {
            background-color: rgba(163, 197, 225, 0.222);
        }
    }
}
